{% extends "Componentes/header.html" %}
{% load static %}
{% block links%}
<link rel="stylesheet" href="{% static 'changepsw.css' %}">
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Cambiar contraseña {% endblock %}
</head>
<body>
    {% block css %} {% endblock %}
    {% block content %}
    {% if is_valid == True %}
    <div class="change-container">
        <form method="post" id="formChangePassword">
            {% csrf_token %}
            <h1 id="title-psw">Restablecer contraseña</h1>
            <input type="password" placeholder="Nueva contraseña" name="password">
            <input type="password" placeholder="Confirmar contraseña" name="confirmpassword">
            <input type="submit">
        </form>
        {% if send == True %}
            <script>document.getElementById("formChangePassword").remove()</script>
            <h1>Se ha restablecido su contraseña correctamente!</h1>
        {% endif %}
    </div>
        
    {% else %}
        <h1>El token no existe o ya ha expirado!</h1>
    {% endif %}
    {% include "Componentes/footer.html" %}
    {% endblock %}
</body>
</html>
{% block js%}{% endblock %}
