{% extends "Componentes/header.html" %}
{% load static %}
{% block links%}
<link rel="stylesheet" href="{% static 'funciones.css' %}">
{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Funciones {% endblock %}
</head>

<body>
    {% block css %} {% endblock %}
    {% block content %}
    {% if user.is_authenticated %}
    <h1 id="fTitle">Selecciona la función que desees utilizar</h1>
    <div class="mainFuncion">
        <div class="Funciones">
            <div class="Funcion">
                <img src="../static/img/GenerarPaleta.png">
                <h3>Generar paleta de colores</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit consequuntur eligendi tempore maiores. Perspiciatis ducimus laboriosam in veritatis nobis ab molestias, excepturi odio porro sed possimus incidunt labore debitis distinctio?</p>
                <button onclick='location.href="/Generar-paleta/"'>Utilizar función</button>
            </div>
            <div class="Funcion">
                <img src="../static/img/GenerarPaleta.png">
                <h3>Mezclar colores</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit consequuntur eligendi tempore maiores. Perspiciatis ducimus laboriosam in veritatis nobis ab molestias, excepturi odio porro sed possimus incidunt labore debitis distinctio?</p>
                <button >Utilizar función</button>
            </div>
            <div class="Funcion">
                <img src="../static/img/GenerarPaleta.png">
                <h3>Obtener paleta de un color</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit consequuntur eligendi tempore maiores. Perspiciatis ducimus laboriosam in veritatis nobis ab molestias, excepturi odio porro sed possimus incidunt labore debitis distinctio?</p>
                <button>Utilizar función</button>
            </div>
            <div class="Funcion">
                <img src="../static/img/GenerarPaleta.png">
                <h3>Generar paleta de colores</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit consequuntur eligendi tempore maiores. Perspiciatis ducimus laboriosam in veritatis nobis ab molestias, excepturi odio porro sed possimus incidunt labore debitis distinctio?</p>
                <button>Utilizar función</button>
            </div>
        </div>
    </div>
    {% endif %}
    {% endblock %}

    {% block js%}
    {% endblock %}
</body>

</html>