{% extends "Componentes/header.html" %}
{% load static %}
{% block links%}
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Inicio {% endblock %}
</head>
<body>
    {% block css %} {% endblock %}
    {% block content %}
    {% if user.is_authenticated %}
    <script>window.location.href = '/Inicio/';</script>
    {% else %}
    <div class="indexPage">
        <div class="container">
            <div class="columnas">
                <div class="header-text">
                    <h1>¡Empieza a diseñar!</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia exercitationem illo magni at et, placeat perferendis maiores, cupiditate optio fugiat illum velit ut quas accusantium! Non fuga aut animi architecto?</p>
                    <button id="btnIngresar" onclick="window.location.href ='/Register/'">Ingresar</button>
                </div>
                <div class="header-img"></div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endblock %}
    {% block js%}{% endblock %}
</body>
</html>