{% extends "Componentes/header.html" %}
{% load static %}
{% block links%}
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Inicio {% endblock %}
</head>
<body>
    {% block css %} {% endblock %}
    {% block content %}
    {% if user.is_authenticated %}
    <script>window.location.href = '/Inicio/';</script>
    {% else %}
    <div class="divMain">
        <div class="LogoIzq">
            <div id="imgLogo"></div>
            <h1>Color<a>Ez</a></h1>
        </div>
        <div class="TitleDer">
            <h1>Bienvenido a Color<a>Ez</a></h1>
            <a>comienza a diseñar</a>
            <div id="btnIngresar">
                <button onclick='location.href="/Register/"'><a >Comenzar</a></button>
            </div> 
        </div>
    </div>
    {% endif %}
    {% endblock %}
    {% block js%}{% endblock %}
</body>
</html>