{% extends "Componentes/header.html" %}
{% load static %}
{% block links%}
<link rel="stylesheet" href="{% static 'inicio.css' %}">
<script src="{% static 'js/chroma.min.js' %}"></script>
<script src="{% static 'js/inicio.js' %} "></script>
{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Inicio {% endblock %}
</head>

<body>
    {% block css %} {% endblock %}
    {% block content %}
    {% if user.is_authenticated %}
    {{user.rut}}
    <div class="mainInicio">
        <h1>Bienvenido! {{ user.username }}</h1>
        <a href="/logout/">Desconectarse</a>
    </div>
    <div style="display: flex;" id="paleta_colores">
        <input type="hidden" id="btnhiden">
    </div>
    <div>
        <h1>----------------------------------------------------------------------------------------------------------------------------------------------------
        </h1>
    </div>
    <div>
        <input type="color" id="colorPalette">
        <input type="submit" value="Obtener paleta" onclick="GetPaleta()">
        <script>
            function GetPaleta() {
                var highlightedItems = document.querySelectorAll('.colorPalette')
                if (highlightedItems.length != 0) {
                    highlightedItems.forEach(function (element) {
                        element.remove();
                    })
                }
                color = document.getElementById('colorPalette').value
                var arrayPaleta = chroma.scale([color, 'white']).colors(10)
                for (var color of arrayPaleta) {
                    document.getElementById('paletteColor').innerHTML += "<div class='colorPalette' style='background-color:" + color + ";width:180px;height:300px;color:white;'>" + color + "</div>"
                }
            }
        </script>
        <div style="display: flex;" id="paletteColor">
        </div>
    </div>
    <div>
        <h1>----------------------------------------------------------------------------------------------------------------------------------------------------
        </h1>
    </div>
    <div id="MixColors" style="display: flex;">
    </div>
    <input type="color" name="color1" id="Mixcolor1">
    <input type="color" name="color2" id="Mixcolor2">

    <input type="submit" value="Mezclar colores" id="btnnashe" onclick="Mixcolor()">
    {% endif %}
    {% endblock %}

    {% block js%}
    {% endblock %}
</body>

</html>