{% extends "Componentes/header.html" %}
{% load static %}
{% block links%}
<link rel="stylesheet" href="{% static 'inicio.css' %}">
{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Inicio {% endblock %}
</head>

<body>
    {% block css %} {% endblock %}
    {% block content %}
    {% if user.is_authenticated %}
    {{user.rut}}
    <div class="mainInicio">
        <h1>Bienvenido! {{ user.username }}</h1>
        <a href="/logout/">Desconectarse</a>
    </div>
    <div style="display: flex;" id="paleta_colores">
        <input type="hidden" id="btnhiden">
        <script>
            document.getElementById("html").addEventListener("keydown", function (e) {

                if (e.code === 'Space') {
                    generatePalette()
                }
            });
            function randomInteger(max) {
                return Math.floor(Math.random() * (max + 1));
            }
            function randomRgbColor() {
                let r = randomInteger(255);
                let g = randomInteger(255);
                let b = randomInteger(255);
                return [r, g, b];
            }
            function randomHexColor() {
                let [r, g, b] = randomRgbColor();

                let hr = r.toString(16).padStart(2, '0');
                let hg = g.toString(16).padStart(2, '0');
                let hb = b.toString(16).padStart(2, '0');
                return "#" + hr + hg + hb;
            }
            function generatePalette() {
                var highlightedItems = document.querySelectorAll('.color');
                
                console.log(highlightedItems.length)
                if(highlightedItems.length != 0){
                    highlightedItems.forEach(function(element){
                        element.remove();
                    })
                }
                for (i = 0; i < 5; i++) {
                    document.getElementById('paleta_colores').innerHTML += '<div class="color" style="background-color:' + randomHexColor() + ';width:300px;height:300px;margin:10px"></div>'
                }
            }
        </script>
    </div>
    <div>
        <h1>----------------------------------------------------------------------------------------------------------------------------------------------------</h1>
    </div>
    <div>

        <form method="post">
            {% csrf_token %}
            <input type="color" name="color">
            <input type="submit" value="Obtener paleta">
        </form>
        {% if colores.lenght != 0 %}
            <div style="display: flex;">
                {% for id,color in colores.items %}
                <div id="{{id}}" style="display: flex;justify-content: center;text-align: center;">

                    <h1 style="margin: auto; color:white">{{color}}</h1>
                </div>
                <script>
                    document.getElementById('{{id}}').style.backgroundColor = '{{color}}'
                    document.getElementById('{{id}}').style.width = '300px'
                    document.getElementById('{{id}}').style.height = '300px'
                </script>
            {% endfor %}
            </div>
        {% endif %}
    </div>

    <div>
        <h1>----------------------------------------------------------------------------------------------------------------------------------------------------</h1>
    </div>
        <form method="post">
            {% csrf_token %}
            <input type="color" name="color1">
            <input type="color" name="color2">
            <input type="submit" value="Mezclar colores">
        </form>
        <div id="MixColors">
        </div>
        <script>
            document.getElementById('MixColors').style.background= '{{Mixcolors}}'
            document.getElementById('MixColors').style.width = '300px'
            document.getElementById('MixColors').style.height = '300px'
        </script>
    {% endif %}
    {% endblock %}

    {% block js%}
    <script src="{ static 'js/inicio.js' %} "></script>
    {% endblock %}
</body>

</html>