{% extends "Componentes/header.html" %}
{% load static %}
{% block links%}
<link rel="stylesheet" href="{% static 'inicio.css' %}">
<script src="{% static 'js/chroma.min.js' %}"></script>
<script src="{% static 'js/inicio.js' %} "></script>
{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Inicio {% endblock %}
</head>

<body>
    {% block css %} {% endblock %}
    {% block content %}
    {% if user.is_authenticated %}
    {{user.rut}}
    <div class="mainInicio">
        <h1>Bienvenido! {{ user.username }}</h1>
        <a href="/logout/">Desconectarse</a>
    </div>
    <div style="display: flex;" id="paleta_colores">
        <input type="hidden" id="btnhiden">
    </div>
    <div>
        <h1>----------------------------------------------------------------------------------------------------------------------------------------------------
        </h1>
    </div>
    <div>

        <form method="post">
            {% csrf_token %}
            <input type="color" name="color">
            <input type="submit" value="Obtener paleta">
        </form>
        {% if colores.lenght != 0 %}
        <div style="display: flex;">
            {% for id,color in colores.items %}
            <div id="{{id}}" style="display: flex;justify-content: center;text-align: center;">

                <h1 style="margin: auto; color:white">{{color}}</h1>
            </div>
            <script>
                document.getElementById('{{id}}').style.backgroundColor = '{{color}}'
                document.getElementById('{{id}}').style.width = '300px'
                document.getElementById('{{id}}').style.height = '300px'
            </script>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div>
        <h1>----------------------------------------------------------------------------------------------------------------------------------------------------
        </h1>
    </div>
    <div id="MixColors" style="display: flex;">
    </div>
    <input type="color" name="color1" id="Mixcolor1">
    <input type="color" name="color2" id="Mixcolor2">

    <input type="submit" value="Mezclar colores" id="btnnashe" onclick="Mixcolor()">
    {% endif %}
    {% endblock %}

    {% block js%}
    {% endblock %}
</body>

</html>