{% extends "Componentes/header.html" %}
{% load static %}
{% block links%}
<link rel="stylesheet" href="{% static 'invite.css' %}">
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Iniciar sesión {% endblock %}
</head>
<body>
    {% block css %} {% endblock %}
    {% block content %}
    {% if is_valid == True %}
    <div class="invite-form">
        <form method="post" id="formChangePassword">
            {% csrf_token %}
            <h2>{{Proyecto.Usuario.username}} te ha invitado a formar parte de</h2>
            <h2 id="title-proyecto">{{Proyecto.Titulo}}</h2>
            <img src="/{{Proyecto.photo}}">
            <h1>Quieres unirte al proyecto? </h1>
            <input type="hidden" id="inputhidden" name="inputhidden">
            <input type="submit" onsubmit="document.getElementById('inputhidden').value = 'ok'" value="Aceptar">
        </form>
    </div>
        {% if send == True %}
            <script>document.getElementById("formChangePassword").remove()</script>
            <h1>Te has unido correctamente!</h1>
        {% endif %}
    {% else %}
    <div class="token-expirado">
        <img src="../static/img/200w.gif">
        <h1>El token no existe o ya ha expirado!</h1>
    </div>
        
    {% endif %}
    {% endblock %}
</body>
</html>
{% block js%}{% endblock %}
