{% extends "Componentes/header.html" %}
{% load static %}
{% block links%}
<link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Iniciar sesión {% endblock %}
</head>
<body>
    {% block css %} {% endblock %}
    {% block content %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
    <script>window.location.href = '/Inicio/';</script>
    {% else %}
    <div class="divForm">
        <h1>Iniciar sesión</h1>
        <form method="post">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Iniciar sesión">
        </form>
        <a href="{% url 'send_email' %}">Send email</a>
        <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
        <a href="{% url 'social:begin' 'google-oauth2' %}">Login With Google</a>
    </div>
    {% endif %}
{% endblock %}
</body>
</html>
{% block js%}{% endblock %}
