{% extends "Componentes/header.html" %}
{% load static %}
{% block links%}
<link rel="stylesheet" href="{% static 'login.css' %}">
<script src="https://kit.fontawesome.com/c1366bcc7f.js" crossorigin="anonymous"></script>
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Iniciar sesión {% endblock %}
</head>
<body>
    {% block css %} {% endblock %}
    {% block content %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
    <script>window.location.href = '/Inicio/';</script>
    {% else %}
    <div class="divForm">
        <h1>Iniciar sesión</h1>
        <form method="post">
            {% csrf_token %}
            {{form}}
            <a id="createAccount" href="/Register/">Crear cuenta</a>
            <input type="submit" value="Iniciar sesión">
        </form>
        <a id="forgotPsw" href="{% url 'send_email' %}">¿Olvidaste tu contraseña?</a>
        <div class="redesSociales">
            <a href="{% url 'social:begin' 'facebook' %}"><i class="fa-brands fa-2xl fa-facebook" id="fb"></i></a>
            <a href="{% url 'social:begin' 'google-oauth2' %}"><i class="fa-brands fa-2x fa-google" id="google"></i></a>
        </div>
        
    </div>
    {% endif %}
{% endblock %}
</body>
</html>
{% block js%}{% endblock %}
