{% extends "Componentes/header.html" %}

{% block css %} {% endblock %}

{% block title %} Quienes somos {% endblock %}

{% block content %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
    <script>window.location.href = '/Inicio/';</script>
    {% else %}
    <form method="post">
        {% csrf_token %}
        {{form}}

        <input type="submit" value="Enviar">
    </form>
    <a href="/">Atrás</a>
    {% endif %}
{% endblock %}

{% block js%}{% endblock %}
