{% extends "Componentes/header.html" %}
{% load static %}
{% block links%}
<link rel="stylesheet" href="/Principal/static/inicio.css">
<script src="{% static 'js/chroma.min.js' %}"></script>
<script src="{% static 'js/inicio.js' %} "></script>
{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Inicio {% endblock %}
</head>

<body>
    {% block css %} {% endblock %}
    {% block content %}
    {% if user.is_authenticated %}
    {% endif %}
    <h1 style="color: white;">Te has desconectado.......</h1>

    <script>
        function redirect(){
            window.location.href = '/Login/'
            
        }
        const myTimeout = setTimeout(redirect, 1500);
    </script>
    {% endblock %}

    {% block js%}
    {% endblock %}
</body>

</html>