{% extends "Componentes/header.html" %}
{% load static %}
{% block links%}
<link rel="stylesheet" href="{% static 'inicio.css' %}">
<script src="{% static 'js/chroma.min.js' %}"></script>
<script src="{% static 'js/inicio.js' %} "></script>
{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Inicio {% endblock %}
</head>

<body>
    {% block css %} {% endblock %}
    {% block content %}
    {% if user.is_authenticated %}
        <img src="/{{user.photo}}" width="400" height="300" style="border-radius: 50%; margin: auto;">
        <form method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}    
            <input type="submit" value="Editar">       
        </form>
    {% endif %}
    {% endblock %}

    {% block js%}
    {% endblock %}
</body>

</html>