{% extends "Componentes/header.html" %}
{% load static %}
{% block links%}
<link rel="stylesheet" href="{% static 'planes.css' %}">
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Iniciar sesión {% endblock %}
</head>
<body>
    {% block css %} {% endblock %}
    {% block content %}
    <div class="cont-planes">
        <div class="plan1">
            <form method="post">
                {% csrf_token %}
                <h1>Basico</h1>
                {% if PlanUser == 1 %}
                    <input type="submit" value="Plan actual" disabled>
                {% else %}
                    <input type="hidden" value="True" name="PlanBasico">
                    <input type="submit" value="Escoger plan">
                {% endif %}
            </form>
        </div>
        <div class="plan2">
            <form method="post">
                {% csrf_token %}
                <h1>Premium</h1>
                {% if PlanUser == 2 %}
                    <input type="submit" value="Plan actual" disabled>
                {% else %}
                    <input type="hidden" value="True" name="PlanPremium">
                    <input type="submit" value="Escoger plan">
                {% endif %}
            </form>
        </div> 
    </div>
    
        
    {% endblock %}
</body>
</html>
{% block js%}{% endblock %}