{% extends "Componentes/header.html" %}
{% load static %}
{% block links%}
<link href="{% static 'Proyectos.css' %}" rel="stylesheet">
{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block title %} Proyectos {% endblock %}
</head>

<body>
    {% block content %}
    <div class="contenedor_proyectos" id="content">
        {% for proyecto in Proyectos%}
        <div id="{{proyecto.Proyecto.idProyecto}}" class="Proyectos">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="img-proyecto">
                    <img src="/{{proyecto.Proyecto.photo}}">
                    <h3>{{proyecto.Proyecto.Titulo}}</h3>
                    <h3>{{proyecto.Proyecto.Descripcion}}</h3>
                </div>
                <div class="edicion-proyecto">
                    <h2>Agrega funciones al proyecto</h2>

                    <div class="btnColor">
                        <input name="Coloradd" class="colorex" type="hidden" value="" placeholder="Agregar Color...."
                            id="{{proyecto.Proyecto.idProyecto}}inputcolor">
                        <input type="button" value="Select color"
                            onclick="document.getElementById('{{proyecto.Proyecto.idProyecto}}inputcolor').type = 'color' ">
                    </div>
                    <div class="logo-cont">
                        <h2>Sube tus logos/imagenes: </h2>
                        <label for="file-upload" class="custom-file-upload">
                            <i class="fa fa-cloud-upload"></i> Subir archivo
                        </label>
                        <input name="Logoadd" id="file-upload" type="file" placeholder="Ingrese logo " accept="image/*">
                    </div>
                    <input name="Fontadd" type="text" placeholder="Agregar Font">
                    <input name="Tareadd" type="text" placeholder="Agregar tarea">
                    <input type="hidden" value="{{proyecto.Proyecto.idProyecto}}" name="idProyecto">
                    <input type="hidden" value="ok" name="Change">
                    <input value="Guardar cambios" type="submit">
                </div>
            </form>
            <div class="container-colores">
                <h2>Paleta de color:</h2>
                {% for color in Paleta %}
                {% if color.Proyecto.idProyecto == proyecto.Proyecto.idProyecto %}
                <div class="colores">
                    <input type="color" disabled value="{{color.Color}}">
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{proyecto.Proyecto.idProyecto}}" name="idProyecto">
                        <input type="hidden" value="{{color.idPaleta}}" name="colorEliminate" style="display: None;">
                        <input type="submit" value="X">
                    </form>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="container-font">
                <h2>Fonts a utilizar:</h2>
                {% for Font in Fonts %}
                {% if Font.Proyecto.idProyecto == proyecto.Proyecto.idProyecto %}
                <div class="fonts">
                    <h2>{{Font.Fonts}}</h2>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{proyecto.Proyecto.idProyecto}}" name="idProyecto">
                        <input type="hidden" value="{{Font.idFont}}" name="FontEliminate" style="display: None;">
                        <input type="submit" value="X">
                    </form>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="container-tareas">
                <h2>Tareas por hacer:</h2>
                {% for Tarea in Tareas %}
                {% if Tarea.Proyecto.idProyecto == proyecto.Proyecto.idProyecto %}
                <div class="tareas">
                    <h2>{{Tarea.Tarea}}</h2>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{proyecto.Proyecto.idProyecto}}" name="idProyecto">
                        <input type="hidden" value="{{Tarea.idTarea}}" name="TareaEliminate" style="display: None;">
                        <input type="submit" value="X">
                    </form>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <h2 id="texto-logos">Agrega tus logotipos/imagenes importantes</h2>
            <div class="container-logos">
                {% for logo in Logos %}
                {% if logo.Proyecto.idProyecto == proyecto.Proyecto.idProyecto %}
                <div class="logo">
                    <img src="/{{logo.Logo}}" width="50" height="50">
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{proyecto.Proyecto.idProyecto}}" name="idProyecto">
                        <input type="hidden" value="{{logo.idLogo}}" name="logoEliminate" style="display: None;">
                        <input type="submit" value="X">
                    </form>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="btnBorrar">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{proyecto.Proyecto.idProyecto}}" name="idProyecto">
                    <input type="hidden" value="ok" name="borrar">
                    <input type="submit" value="Borrar proyecto">
                </form>
            </div>
        </div>
        {% endfor %}
        {% if selected %}
        <script>
            var highlightedItems = document.querySelectorAll('.Proyectos');

            highlightedItems.forEach(function (userItem) {
                userItem.style.zIndex = '0';
            });
            document.getElementById("{{selected}}").style.zIndex = '10';
        </script>
        {% endif %}
        <script>
            function superponer(idProyecto) {
                var highlightedItems = document.querySelectorAll('.Proyectos');

                highlightedItems.forEach(function (userItem) {
                    userItem.style.zIndex = '0';
                });
                document.getElementById(idProyecto).style.zIndex = '10';
            }
        </script>
        <div class="btnProyectos">
            {% for proyecto in Proyectos%}
            <img src="/{{proyecto.Proyecto.photo}}" width="20px" height="20px"
                onclick="document.getElementById('{{proyecto.Proyecto.idProyecto}}btnprj').click()">
            <button onclick="superponer('{{proyecto.Proyecto.idProyecto}}')" id="{{proyecto.Proyecto.idProyecto}}btnprj"
                style="visibility: hidden;"></button>

            {% endfor %}
            <button id="AddBtn" style="width: 30px; height: 20px;"
                onclick="btnCloses()">+</button>
        </div>
    </div>
    <div class="form-ingresar" id="formIngresar">
        <form style="visibility: visible" id="form" method="POST" enctype="multipart/form-data">
            <button class="btnClose" onclick="btnCloses()">X</button>
            {{form}}
            {% csrf_token %}
            <input type="submit">
        </form>
        {% if ProyectoMax %}
        {{ProyectoMax}}
        {% endif %}
    </div>
    <div class="sendQR">
        <form method="post">
            {% csrf_token %}
            <div class="custom-select">
                <select class="selectorx" name="ProjectSelected">
                    <option value="0">Selecciona tu proyecto</option>
                    {% for proyecto in ProyectosOwner %}
                    <option value="{{proyecto.idProyecto}}">{{proyecto.Titulo}}</option>
                    {% endfor %}
                </select>
            </div>

            <input type="submit" value="Mostrar QR">
        </form>
        {% if MostrarQR %}
        <div class="imgQR">
            <img src="/media/test2.png">
        </div>
    </div>
    {% endif %}
    {% endblock %}
</body>

</html>
{% block js%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{% static 'js/Proyectos.js' %}"></script>
<script>
    function btnCloses(){
        var btnClose = document.getElementById('formIngresar')
        if (btnClose.style.display == "none") {
            btnClose.style.display = "block"
        } else {
            btnClose.style.display = "none"
        }
    }
</script>
<script>
    window.onload = function () {
        document.getElementById('formIngresar').style.display = "none"
    }
</script>
{% endblock %}