{% extends "Componentes/header.html" %}
{% load static %}
{% block links%}
<link href="{% static 'Proyectos.css' %}" rel="stylesheet">
{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block title %} Iniciar sesión {% endblock %}
</head>

<body>
    {% block content %}
    <div class="contenedor_proyectos" id="content">
        {% for proyecto in Proyectos%}
        <div id="{{proyecto.Proyecto.idProyecto}}" class="Proyectos">
            <form method="post">
                {% csrf_token %}
                <div class="img-proyecto">
                    <img src="/{{proyecto.Proyecto.photo}}">
                    <h3>{{proyecto.Proyecto.Titulo}}</h3>
                    <h3>{{proyecto.Proyecto.Descripcion}}</h3>
                </div>
                {% for Font in Fonts %}
                {% if Font.Proyecto.idProyecto == proyecto.Proyecto.idProyecto %}
                '{{Font.Fonts}}'
                {% endif %}
                {% endfor %}
                <input name="Fontadd" type="text" placeholder="Agregar Font....">
                {% for logo in Logos %}
                {% if logo.Proyecto.idProyecto == proyecto.Proyecto.idProyecto %}
                {{logo.Logo}}
                {% endif %}
                {% endfor %}
                <input name="Logoadd" type="file" placeholder="Ingrese logo " accept="image/*">
                {% for Tarea in Tareas %}
                {% if Tarea.Proyecto.idProyecto == proyecto.Proyecto.idProyecto %}
                {{Tarea.Tarea}}
                {% endif %}
                {% endfor %}
                <input name="Tareadd" type="text" placeholder="Agregar tarea....">
                <input type="hidden" value="{{proyecto.Proyecto.idProyecto}}" name="idProyecto">
                <input type="hidden" value="ok" name="Change">
                <input value="Guardar cambios" type="submit">
            </form>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" value="{{proyecto.Proyecto.idProyecto}}" name="idProyecto">
                <input type="submit" value="Borrar">
            </form>
        </div>
        {% endfor %}
        <script>
            function superponer(idProyecto) {
                var highlightedItems = document.querySelectorAll('.Proyectos');

                highlightedItems.forEach(function (userItem) {
                    userItem.style.zIndex = '0';
                });
                document.getElementById(idProyecto).style.zIndex = '10';
            }
        </script>
        <div class="btnProyectos">
            {% for proyecto in Proyectos%}
            <img src="/{{proyecto.Proyecto.photo}}" width="20px" height="20px"
                onclick="document.getElementById('{{proyecto.Proyecto.idProyecto}}btnprj').click()">
            <button onclick="superponer('{{proyecto.Proyecto.idProyecto}}')" id="{{proyecto.Proyecto.idProyecto}}btnprj"
                style="visibility: hidden;"></button>

            {% endfor %}
            <button style="width: 30px; height: 20px;"
                onclick="document.getElementById('form').style.visibility = 'visible'">+</button>
        </div>
    </div>
    <form style="visibility: hidden" id="form" method="POST" enctype="multipart/form-data">
        {{form}}
        {% csrf_token %}
        <input type="submit">

    </form>

    <form method="post">
        {% csrf_token %}
        <select name="ProjectSelected">
            <option value="0">Selecciona tu proyecto</option>
            {% for proyecto in ProyectosOwner %}
            <option value="{{proyecto.idProyecto}}">{{proyecto.Titulo}}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>
    {% if MostrarQR %}
    <img src="/media/test2.png">
    {% endif %}
    {% endblock %}
</body>

</html>
{% block js%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{% static 'js/Proyectos.js' %}"></script>
{% endblock %}