{% extends "Componentes/header.html" %}
{% load static %}
{% block links%}
<link rel="stylesheet" href="{% static 'register.css' %}">
<script src="https://kit.fontawesome.com/c1366bcc7f.js" crossorigin="anonymous"></script>
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Registrarse {% endblock %}
</head>
<body>
    {% block css %} {% endblock %}
    {% block content %}
    {% if user.is_authenticated %}
    <script>window.location.href = '/Inicio/';</script>
    {% else %}
    <div class="divForm">
        <h1>Registro</h1>
        <form method="post">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Registarse">
        </form>
        <div class="redesSociales">
            <a href="{% url 'social:begin' 'facebook' %}"><i class="fa-brands fa-2xl fa-facebook" id="fb"></i></a>
            <a href="{% url 'social:begin' 'google-oauth2' %}"><i class="fa-brands fa-2x fa-google" id="google"></i></a>
        </div>
    </div>
    {% endif %}
{% endblock %}
</body>
</html>
{% block js%}{% endblock %}
