{% extends "Componentes/header.html" %}
{% load static %}
{% block links%}
<link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Recuperar contraseña {% endblock %}
</head>
<body>
    {% block css %} {% endblock %}
    {% block content %}
        <div class="DivForm">
            <h1 id="title-text">Recupera tu contraseña</h1>
            {% if error %}
                <h1 id="error-text"><i class="fa-solid fa-circle-exclamation"></i>{{error}}</h1>
            {% endif %}
            <form method="post" class="form">
                {% csrf_token %}
                <input type="email" name="email">
                <input type="submit" value="Enviar correo">
            </form>
        </div>
        {% include "Componentes/footer.html" %}
    {% endblock %}
</body>
</html>
{% block js%}{% endblock %}
