@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.mainFuncion {
    width: 100%;
    height: 800px;
}

.container-funciones::before {
    left: 0;
    top: -24%;
    content: "";
    z-index: -1;
    width: 100%;
    height: 750px;
    position: absolute;
    background-size: cover;
    transform: skewY(-2.5deg);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(36deg, #F4F8FA 20%, #F4F8FA 92%);
}

.container-funciones {
    max-width: 1040px;
    margin: 0 auto;
}

.columnas {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    align-items: center;
}

.header-text {
    font-family: 'Lato', sans-serif;
    color: #010101;
    text-align: center;
    line-height: 1.5;
    width: 430px;
    margin-top: 30px;
}

.header-img {
    width: 60%;
    height: 75%;
    background-image: url('./img/Process-of-Web-Designing.png');
    background-size: cover;
}

.btnDisabled{
    background-color: #8c51d4!important;
    cursor: not-allowed!important;
}

.funciones {
    max-width: 1040px;
    width: 100%;
    height: 500px;
    margin-top: 110px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 0.1fr);
    gap: 30px 70px;
    justify-content: center;
    margin-bottom: 100px;
}

.card-funciones {
    width: 370px;
    height: 400px;
    background-color: #F4F8FA;
    box-shadow: 0px 0px 5px 0.5px rgb(50,50,50);
    border-radius: 15px;
    text-align: center;
   
}

.card-funciones img {
    margin-top: 20px;
    width: 320px;
    height: 150px;
}

.card-funciones h1{
    font-family: 'Lato', sans-serif;
    color: black;
    font-size: 24px;
}

.card-funciones p{
    width: 350px;
    font-family: 'Lato', sans-serif;
    color: black;
    margin: 0 auto;
    margin-top: 15px;
}

#btnFuncion{
    width: 250px;
    cursor: pointer;
    height: 40px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #672bb1;
    margin-top: 25px;
}

#titleFunciones{
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.footer {
    margin-top: 350px;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #2C124C;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer ul{
    margin-left: 200px;
    display: inline-block;
}

.footer ul li{
    list-style: none;
    font-family: "DM Sans", sans-serif;
    color: white;
}

.footer ul li a{
    text-align: center;
}