body{
    background-color: #121212;
}

.mainFuncion{
    background-color: #1B1B1B;
    width: 1280px;
    height: 600px;
    margin: 0px auto;
    margin-top: 15px;
    border-radius: 15px;
}

#fTitle{
    text-align: center;
    color: white;
    font-family: 'DM Sans', sans-serif;
    margin-top: 50px;
}

.Funciones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1280px;
    height: 600px;
    gap: 15px;
}

.Funcion{
    margin-top: 20px;
    width: 300px;
    height: 550px;
    border-radius: 10px;
    background-color: #121212;
    text-align: center;
}

.Funcion img{
    margin-top: 15px;
    outline: red;
    width: 280px;
    height: 200px;
}

.Funcion h3{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.Funcion p{
    color: white;
    margin: 20px;
    font-family: 'DM Sans', sans-serif;
}

.Funcion button{
    margin-top: 50px;
    width: 280px;
    height: 40px;
    background-color: #26C469;
    color: #f3f2f2;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 0px 5px 1px #121212;
    
}

.Funcion button:hover{
    background-color: #2B8C4F;
    
}