@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
}

nav{
    height: 55px;
    background-color: #5A189A;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


#Logo{
    margin-right: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    
}

#Logo a{
    text-decoration: none;
}

.navBar{
    float: left;
}

.navBarDer{
    float: right;
    margin-right: 50px;
}

.navBar ul li{
    list-style: none;
    display: inline-block;
}

.navBar ul li a{
    color: white;
    margin-left: 15px;
    cursor: pointer;
    text-decoration: none;
    
}

.navBarDer ul li a{
    color: white;
    margin-left: 15px;
    cursor: pointer;
    text-decoration: none;
}

.navBarDer ul li{
    list-style: none;
    display: inline-block;
}