@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
}

nav{
    display: block;
    left: 0;
    top: 0;
    right: 0;
    z-index: 500;
    height: 64px;
    perspective: 2000px;
    font-family: 'Poppins', sans-serif;
    background-color: #2C124C;
}

.navBar{
    max-width: 1040px;
    margin: 0 auto;
    height: 64px!important;
    color: white;
    width: 100%;
}

.rootnav{
    line-height: 64px;
    padding: 0 10px;
}

.logo-section{
    position: absolute;
    top: 0;
    left: 0;
}

.logo-section a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}


.rootnav{
    position: relative;
    list-style: none;
    
}

.navBar ul{
    padding: 0;
    margin: 0;
    
}


.main-section a{
    padding: 0 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.main-section{
    display: flex;
    justify-content: center;
}

.nav-login{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;

}


.nav-login a{
    cursor: pointer;
    padding: 0 10px;
    text-decoration: none;
    color: white;
    
}


.fa-user{
    margin-right: 10px;
}

.fa-right-to-bracket{
    margin-right: 10px;
}

@media (min-width: 1040px){
    .nav-login a{
        padding: 0 15px;
    }
}