@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.indexPage {
    height: 550px;
}

nav {
    background-color: #2c124c !important;
}

.indexPage::before {
    left: 0;
    top: -24%;
    content: "";
    z-index: -1;
    width: 100%;
    height: 750px;
    position: absolute;
    background-size: cover;
    transform: skewY(-2.5deg);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(36deg, #2c124c 20%, #2c124c 92%);
}

.container {
    width: 65em;
    height: 600px;
    margin: 0 auto;
}

.columnas {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 630px;
    align-items: center;
}

.header-text {
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: left;
    line-height: 1.5;
    width: 430px;
}

.header-img {
    width: 650px;
    height: 530px;
    background-image: url('./img/Shake-naslovne-slike-5-1.png');
    background-size: cover;
}

.header-text p {
    margin-top: 10px;
}

#btnIngresar {
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    margin-top: 50px;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    background-color: #ff5722;
    color: white;
    transition: 0.3s ease-in-out;
    font-size: 15px;
}

#btnIngresar:hover {
    background-color: #FF7247;
}