

.divForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    
}

#createAccount{
    font-family: 'Poppins', sans-serif;
    color: rgb(123, 44, 191);
    text-decoration: none;
    margin-left: 65px;
}

.divForm input[type="text"] {
    width: 350px;
    border-radius: 5px;
    border: 2px solid rgb(218, 220, 224);
    height: 45px;
    display: block;
    font-family: "DM Sans", sans-serif;
    padding-left: 10px;
    outline: none;
    margin-bottom: 15px;
}

.divForm input[type="password"] {
    width: 350px;
    border-radius: 5px;
    border: 2px solid rgb(218, 220, 224);
    height: 45px;
    display: block;
    font-family: "DM Sans", sans-serif;
    padding-left: 10px;
    outline: none;
    margin-bottom: 15px;
}

input[type=text]:focus {
    outline: none;
    box-shadow: 0px 0px 5px 2px rgba(199, 125, 255, 0.7);
    border: 2px solid rgba(199, 125, 255, 0.7);
}

input[type=password]:focus {
    outline: none;
    box-shadow: 0px 0px 5px 2px rgba(199, 125, 255, 0.7);
    border: 2px solid rgba(199, 125, 255, 0.7);
}

label{
    font-family: 'Poppins', sans-serif;
    color: rgb(123, 44, 191);
    margin-right: 5px;
}

.divForm input[type=submit] {
    display: block;
    cursor: pointer;
    margin: 0 auto;
    width: 200px;
    height: 40px;
    box-shadow: 0px 0px 8px 0px rgba(60, 9, 108, 0.7);
    border-radius: 2px;
    font-weight: bold;
    background-color: rgb(123, 44, 191);
    border: none;
    color: white;
    margin-top: 25px;
}


.divForm h1{
    color: rgb(123, 44, 191);
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 15px;
}

.errorlist{
    font-family: 'Poppins', sans-serif;
    color: red;
}

.redesSociales {
    margin-top: 15px;
    height: 40px;
    gap: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa-google {
    background:
        linear-gradient(to bottom left, transparent 49%, #fbbc05 50%) 0 25%/48% 40%,
        linear-gradient(to top left, transparent 49%, #fbbc05 50%) 0 75%/48% 40%,

        linear-gradient(-40deg, transparent 53%, #ea4335 54%),
        linear-gradient(45deg, transparent 46%, #4285f4 48%),
        #34a853;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

#forgotPsw{
    margin-top: 15px;
    text-decoration: none;
    color: rgb(123, 44, 191);
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
}
