.main-profile{
    width: 1040px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    align-content: center;
}

.user-profile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 490px;
    text-align: center;
    background-color: #F4F8FA;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid #DCDDE3;
    box-shadow: 0px 0px 10px 1px #DCDDE3;
}

.user-profile img{
    height: 150px;
    width: 130px;
    clip-path: circle();
}

.user-profile h3{
    font-family: 'Poppins', sans-serif;
}

.user-data{
    background-color: #F4F8FA;
    width: 700px;
    height: 490px;
    border-radius: 5px;
    border: 2px solid #DCDDE3;
    box-shadow: 0px 0px 10px 1px #DCDDE3;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 5px;
}

.column-settings{
    width: 300px;
    height: 40px;
    margin: 0 auto;
    margin-left: 15px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.info-sacada{
    margin-left: 25px;
}

.email h3{
    margin-left: 20px;
}

.info-sacada h3{
    font-family: 'Lato', sans-serif;
    color: #696969;
    text-align: left;
}

.user-name{
    margin-top: 15px;
}

.user-name h3{
    text-align: left;  
    font-weight: normal;
}

hr{
    width: 95%;
    margin: 0 auto;
}

#title-proyectos{
    font-family: 'Lato', sans-serif;
    color: black;
    margin-top: 15px;
    margin-left: 15px;
}

.productos{
    height: 250px!important;
    width: 670px!important;
    color: black;
    display: flex;
    justify-content: left;
    margin-left: 15px;
    margin-top: 15px;
}

.productos-info h3{
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    margin-top: 5px;
}

#plan-info{
    font-weight: normal;
}

.productos-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 10px;
    
}

.productos-info img{
    border-radius: 5px;
}

#Btnperfil{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #672BB1;
    height: 30px;
    width: 120px;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
    margin-top: 10px;
}

.edit-profile{
    background-color: #F4F8FA;
    width: 700px;
    height: 490px;
    border-radius: 5px;
    border: 2px solid #DCDDE3;
    box-shadow: 0px 0px 10px 1px #DCDDE3;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
}

.edit-profile input[type="text"]{
    width: 350px;
    border-radius: 5px;
    border: 2px solid rgb(218, 220, 224);
    height: 45px;
    display: block;
    padding-left: 10px;
    outline: none;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    margin-top: 35px;
}

.edit-profile input[type="email"]{
    width: 350px;
    border-radius: 5px;
    border: 2px solid rgb(218, 220, 224);
    height: 45px;
    display: block;
    padding-left: 10px;
    outline: none;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}


.edit-profile input[type="file" i]{
    font-family: 'Lato', sans-serif;
    color: black;
    border: none;
    width: 300px;
    height: 30px;
}

.btnEditar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnEditar input[type="submit"]{
    cursor: pointer;
    display: block;
    border: none;
    border-radius: 5px;
    background-color: #672BB1;
    height: 40px;
    width: 140px;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
    margin-top: 10px;
}

.formDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}