.Proyectos{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    background-color: gray;
    color: white;
    padding: 20px;
    overflow: hidden;
    overflow-wrap: break-word;
    position: absolute;
    margin: 20px 100px;

    z-index: 0;
    
}
.contenedor_proyectos{
    position: relative;
    height: 400px;
    width: 90%;
    overflow: hidden;
    margin: auto;
}
.btnProyectos{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 20px;
    width: 30px;
    justify-content: center;
    align-items: center;
}