.Proyectos {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 1040px;
    height: 100%;
    color: white;
    background-color: #2C124C;
    overflow-wrap: break-word;
    z-index: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px #DCDDE3;
}

.img-proyecto {
    width: 97%;
    height: 120px;
    background-color: #42295e;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    flex-direction: row;
    font-family: 'Lato', sans-serif;
}

.img-proyecto img {
    width: 120px;
    height: 100px;
    clip-path: circle();
    margin-left: 10px;
}

.contenedor_proyectos {
    position: relative;
    height: 800px;
    width: 90%;
    margin: auto;
}

.btnProyectos {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 20px;
    width: 100px;
    height: 500px;
    justify-content: center;
    align-items: center;
}