{% extends "Componentes/header.html" %}
{% load static %}
{% block links%}
<link rel="stylesheet" href="{% static 'GenerarPaleta.css' %}">
<script src="{% static 'js/chroma.min.js' %}"></script>
<script src="{% static 'js/inicio.js' %} "></script>
{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Funciones {% endblock %}
</head>

<body>
    {% block css %} {% endblock %}
    {% block content %}
    {% if user.is_authenticated %}
    {% if plan %}
        <script>window.onload = function(){
            generatePalette()
        }</script>
    <div class="topFuncion">
        <h1 id="titleG">¡Presiona la tecla "espacio" para generar otra paleta!</h1>
    </div>
    <div class="mainGenerar">
        <div id="paleta_colores">
            <input type="hidden" id="btnhiden">
        </div>
    </div>
    {% else %}
        <h1>No eres premium</h1>
    {% endif %}
    {% endif %}
   
    {% endblock %}

    {% block js%}
    {% include "Componentes/footer.html" %}
    {% endblock %}
</body>
</html>