{% extends "Componentes/header.html" %}
{% load static %}
{% block links%}
<link rel="stylesheet" href="{% static 'Obtenerpaleta.css' %}">
<script src="{% static 'js/chroma.min.js' %}"></script>
<script src="{% static 'js/inicio.js' %} "></script>
{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Funciones {% endblock %}
</head>

<body>
    {% block css %} {% endblock %}
    {% block content %}
    {% if user.is_authenticated %}
    <div class="mainMix">
        <div class="input-colores">
            <h1>Escoge el color para obtener la paleta</h1>
            <div class="texto-colores">
                <a>Color:</a>
                <input type="color" id="colorPalette">
                <input type="submit" id="btnColor" value="Obtener paleta" onclick="GetPaleta()">
            </div>
        </div>
        <div id="MixColors">
            <div>
                <script>
                    function GetPaleta() {
                        var highlightedItems = document.querySelectorAll('.colorPalette')
                        if (highlightedItems.length != 0) {
                            highlightedItems.forEach(function (element) {
                                element.remove();
                            })
                        }
                        color = document.getElementById('colorPalette').value
                        var arrayPaleta = chroma.scale([color, 'white']).colors(10)
                        for (var color of arrayPaleta) {
                            document.getElementById('paletteColor').innerHTML += "<div class='colorPalette' style='background-color:" + color + ";width:180px;height:300px;color:white;'>" + "<div class='color-text'>" + "<h1>" + color + "</h1>"+ "</div>" + "</div>"
                        }
                    }
                </script>
                <div id="paletteColor">
                </div>
            </div>
            <div>
    </div>
    {% endif %}
    {% endblock %}

    {% block js%}
    {% endblock %}
</body>
</html>