{% load static %}
{% block links%}
<link rel="stylesheet" href="{% static 'footer.css' %}">
<script src="{% static 'js/chroma.min.js' %}"></script>
<script src="{% static 'js/inicio.js' %} "></script>
{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% block css %} {% endblock %}
    {% block content %}
    <footer>
        <div class="footer">
            <ul>
                <li><a style="color: #C4BAF5;">Contacto</a></li>
                <li><a>Instagram</a></li>
                <li><a>Facebook</a></li>
            </ul>
            <ul>
                <li><a style="color: #C4BAF5;">Ubicación</a></li>
                <li><a> Av. Américo Vespucio 974, Maipú, Región Metropolitana</a></li>
            </ul>
            <ul>
                <li><a style="color: #C4BAF5;">Copyright © 2022-2022 Kevin & Matias Company - Todos los derechos reservados</a></li>
            </ul>
        </div>
    </footer>
    {% endblock %}
    {% block js%}
    {% endblock %}
</body>

</html>