<!DOCTYPE html>
<html lang="en" id="html">

<head>
    {% block links %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <header>
        <nav>
            <div class="navBar">
                <ul>
                    <li id="Logo"><a href="/">ColorEz</a></li>
                    <li><a a href="/">Inicio</a></li>
                    <li><a>Funciones</a></li>
                </ul>
            </div>
            <div class="navBarDer">
                <ul>{% if user.is_authenticated %}
                    <li><a>Perfil</a></li>
                    <li><a>Proyectos</a></li>
                    {% else %}
                    <li><a href="/Login/">Iniciar sesión</a></li>
                    <li><a href="/Register/">Registrarse</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    {% block js %}{% endblock %}
</body>

</html>