<!DOCTYPE html>
<html lang="en" id="html">

<head>
    {% block links %}
    {% endblock %}
    <meta name="facebook-domain-verification" content="bbgfywcpcxy4m1rc596ftbf2slqalc" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <link rel="stylesheet" href="https://static.imgix.net/treefrog.jpg?w=640&h=320&fit=crop&palette=css&class=frog">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <script src="https://kit.fontawesome.com/c1366bcc7f.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <header>
        <nav>
            <div class="navBar">
                <ul class="rootnav">
                    <li class="logo-section"><a href="/">LOGO</a></li>
                    {% if user.is_authenticated %}
                    <li class="main-section">
                        <a href="/">Inicio</a>
                        <a href="/Proyectos/">Proyectos</a>
                    </li>
                    <li class="nav-login">
                        <a href="/Perfil/"><i class="fa-solid fa-user"></i>Perfil</a>
                        <a href="/logout/">Cerrar sesión</a>
                    </li>
                    {% else %}
                    <li class="nav-login">
                        <a href="/Login/"><i class="fa-solid fa-right-to-bracket"></i>Iniciar sesión</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    {% block js %}{% endblock %}
</body>

</html>